spring:
  application:
    name: movierama
  datasource:
    url: jdbc:postgresql://localhost:5432/movierama
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database: POSTGRESQL
    generate-ddl: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db/db.changelog-master.xml

jwt:
  secret: ${JWT_SECRET:your-super-secret-jwt-key-that-should-be-very-long}
  expiration-ms: ${JWT_EXPIRATION_MS:86400000} # default 24h

server:
  port: 9000
