services:
  postgres:
    image: postgres:15-alpine
    container_name: spring-postgres
    environment:
      POSTGRES_DB: movierama
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - spring-network

volumes:
  postgres_data:

networks:
  spring-network:
    driver: bridge